<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Name des Subsystems', title='Optional: Tabtitel', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Name des Subsystems</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script>
            function allowDrop(ev) {
                ev.preventDefault();
            }

            function drag(ev) {
                ev.dataTransfer.setData("text", ev.target.id);
            }

            function drop(ev) {
                ev.preventDefault();
                if (!ev.target.getAttribute("ondrop"))
                    return false;
                var data = ev.dataTransfer.getData("text");
                ev.target.appendChild(document.getElementById(data));
            }
        </script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Restlichen Inhalt hier einfügen! -->
    <div class="row">
        <div class="card-deck">
            <div class="card bg-light mb-3 border-primary">
                <div class="card-header d-flex justify-content-start align-items-start">Propra</div>
                <div class="card-body card-deck" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
            </div>
            <div class="card bg-light mb-3 border-primary">
                <div class="card-header d-flex justify-content-start align-items-start">RDB</div>
                <div class="card-body card-deck" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card w-50" style="width: 28rem;" id="drag1" draggable="true" ondragstart="drag(event)">
                <div class="card-header">
                    Mamus100
                    <input type="checkbox"/>
                </div>
                <div class="container text-center">
                    <div class="row border font-weight-bold">
                        <div class="col">Modul</div>
                        <div class="col">Bewerber-Prio</div>
                        <div class="col">Orga-Prio</div>
                        <div class="col">Stunden</div>
                    </div>
                    <div class="row border">
                        <div class="col">Modul1</div>
                        <div class="col">++</div>
                        <div class="col">+</div>
                        <div class="col">
                            <select>
                                <option>9 Std.</option>
                                <option selected="selected">10 Std.</option>
                                <option>17 Std.</option>
                            </select>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col">Modul2</div>
                        <div class="col">o</div>
                        <div class="col">-</div>
                        <div class="col">
                            <select>
                                <option selected="selected">9 Std.</option>
                                <option>10 Std.</option>
                                <option>17 Std.</option>
                            </select>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col">Modul3</div>
                        <div class="col">-</div>
                        <div class="col">+</div>
                        <div class="col">
                            <select>
                                <option>9 Std.</option>
                                <option>10 Std.</option>
                                <option selected="selected">17 Std.</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-50" style="width: 28rem;" id="drag2" draggable="true" ondragstart="drag(event)">
                <div class="card-header">
                    Mamus100
                    <input type="checkbox"/>
                </div>
                <div class="container text-center">
                    <div class="row border font-weight-bold">
                        <div class="col">Modul</div>
                        <div class="col">Bewerber-Prio</div>
                        <div class="col">Orga-Prio</div>
                        <div class="col">Stunden</div>
                    </div>
                    <div class="row border">
                        <div class="col">Modul1</div>
                        <div class="col">++</div>
                        <div class="col">+</div>
                        <div class="col">
                            <select>
                                <option>9 Std.</option>
                                <option selected="selected">10 Std.</option>
                                <option>17 Std.</option>
                            </select>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col">Modul2</div>
                        <div class="col">o</div>
                        <div class="col">-</div>
                        <div class="col">
                            <select>
                                <option selected="selected">9 Std.</option>
                                <option>10 Std.</option>
                                <option>17 Std.</option>
                            </select>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col">Modul3</div>
                        <div class="col">-</div>
                        <div class="col">+</div>
                        <div class="col">
                            <select>
                                <option>9 Std.</option>
                                <option>10 Std.</option>
                                <option selected="selected">17 Std.</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>