<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Verteilung', title='Optional: Verteilung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="turbolinks-cache-control" content="no-preview">
    <title>Name des Subsystems</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/turbolinks.js"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:if="${account.roles.size() > 1}">
            <li th:if="${account.roles.contains('verteiler')}"><a th:href="@{/bewerbung2/verteiler/}">Verteiler Übersicht</a></li>
            <li th:if="${account.roles.contains('orga')}"><a th:href="@{/bewerbung2/organisator/}">Organisator Übersicht</a></li>
            <li th:if="${account.roles.contains('setup')}"><a th:href="@{/bewerbung2/setup/}">Ersteller Übersicht</a></li>
            <li th:if="${account.roles.contains('studentin')}"><a th:href="@{/bewerbung2/bewerber/}">Bewerber Übersicht</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Restlichen Inhalt hier einfügen! -->
    <div class="row">
        <div class="col">
            <div class="card bg-light mb-3 border-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3 text-center">
                            <button class="btn btn-outline-primary openBtn form-control" data-target="#distributeModal" data-toggle="modal" type="button">
                                Verteilen
                            </button>
                        </div>
                        <div class="col-2"></div>
                        <div class="col-3">
                            <form th:action="@{/bewerbung2/pdf/uebersicht}" th:method="GET">
                                <button class="btn btn-outline-primary" type="submit"> Zu den Einstellungsbögen </button>
                            </form>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6" th:each="distribution: ${distributions}">
            <div class="card bg-light mb-3 border-primary">
                <div class="card-header d-flex justify-content-start align-items-start">
                    <div class="col text-left" th:text="${distribution.module}">
                        Propra
                    </div>
                    <div class="col text-right">
                            <div th:text="'7 Stunden: ' + ${distribution.hours7}">
                                4
                            </div>
                            <div th:text="'9 Stunden: ' + ${distribution.hours9}">
                                7
                            </div>
                            <div th:text="'17 Stunden: ' + ${distribution.hours17}">
                                3
                            </div>
                    </div>
                </div>
                <div class="card-body sneaky" id="div1" th:id="drop + ${distribution.id}" th:attr="data-distributionid=${distribution.id}" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                    <div th:each="applicant: ${distribution.webDistributorApplicants}">
                        <div class="card w-100 bg-light mb-1 border-primary" th:id="drag + ${applicant.id}" id="drag1"  th:attr="data-applicantId=${applicant.id}" draggable="true" ondragstart="drag(event)">
                            <div class="card-header" th:style="${applicant.distributorHours == '0' && distribution.id != '-1'} ? 'background-color: rgba(255, 0, 0, 0.51)' : (${applicant.checked} ? 'background-color: rgba(108, 179, 255, 0.51)')">
                                <div class="row">
                                    <div class="col-7 text-left">
                                        <button class="btn" data-toggle="collapse" th:attr="data-target='#collapse'+${applicant.id}" data-target="#collapse1"
                                                aria-expanded="false" th:text="'[' + ${applicant.type} + '] ' + ${applicant.fullName}">
                                            Mamus100
                                        </button>
                                    </div>
                                    <div class="col-4">
                                        <div>
                                            <input onClick="this.select();" type="text" size="1" th:value="${applicant.distributorHours}" th:attr="data-distributionId=${distribution.id}, data-applicantId=${applicant.id}" onblur="saveHours(this)" onkeyup="saveHoursEnter(event, this)">
                                            <label>Stunden</label>
                                        </div>
                                    </div>
                                    <div class="col-1 text-right">
                                        <input type="checkbox" th:checked="${applicant.checked}" th:attr="data-applicantId=${applicant.id}" onclick="saveChecked(this)">
                                    </div>
                                </div>
                            </div>
                            <div th:id="collapse + ${applicant.id}" id="collapse1" class="collapse">
                                <div class="container text-center">
                                    <div class="row border font-weight-bold">
                                        <div class="col" title="Modul" style="text-overflow: ellipsis; overflow: hidden; width: 20%; white-space: nowrap">Modul</div>
                                        <div class="col" title="Priorität des Bewerbers" style="text-overflow: ellipsis; overflow: hidden; width: 20%; white-space: nowrap">Bewerber-Prio</div>
                                        <div class="col" title="Priorität des Organisators" style="text-overflow: ellipsis; overflow: hidden; width: 20%; white-space: nowrap">Orga-Prio</div>
                                        <div class="col" title="Stundenwunsch des Organisators" style="text-overflow: ellipsis; overflow: hidden; width: 20%; white-space: nowrap">Orga-Stunden</div>
                                        <div class="col" title="Stundenwunsch des Bewerbers" style="text-overflow: ellipsis; overflow: hidden; width: 20%; white-space: nowrap">Stunden</div>
                                    </div>
                                    <div class="row border" th:each="appl: ${applicant.webDistributorApplications}">
                                        <div class="col" th:text="${appl.moduleShort}">Modul1</div>
                                        <div class="col" th:text="${appl.applicantPriority.label}">++</div>
                                        <div class="col" th:text="${appl.organizerPriority.label}">+</div>
                                        <div class="col" th:text="${appl.organizerHours}">9</div>
                                        <div class="col" th:text="${appl.minHours} + '-' + ${appl.maxHours}">10 - 17</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="distributeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Automatisch verteilen?</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Wenn Sie bestätigen, wird automatisch eine Vorverteilung generiert.
                    <br>
                    Jegliche bisher getätigten Änderungen werden zurückgesetzt.
                    <br>
                    <br>
                    Möchten Sie die automatische Verteilung starten?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Abbrechen</button>
                        <button class="btn btn-outline-primary" id="distributeButton" name="distribute" type="submit"> Bestätigen </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $("#distributeModal").keyup(function(event) {
            if (event.keyCode === 13) {
                $("#distributeButton").click();
            }
        });

    </script>
    <script>

        $("#distributeButton").click(function() {
            window.location.href = "/bewerbung2/verteiler/vorverteilen";
        });

    </script>
    <script>

        $('#drag1').draggable({
            scroll: true,
            scrollSensivity: 40,
            scrollSpeed: 40
        });

    </script>
    <script>

        function allowDrop(ev) {
            ev.preventDefault();
        }

    </script>
    <script>

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);

            ev.dataTransfer.setData("applicantId", ev.currentTarget.id);
        }

    </script>
    <script>

        function drop(ev, el) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            el.appendChild(document.getElementById(data));

            var applicantElId = ev.dataTransfer.getData("applicantId");
            var applicantEl = document.getElementById(applicantElId);
            var applicantId = applicantEl.dataset.applicantid;
            var distributionId = el.dataset.distributionid;

            $.ajax({
                async: false,
                method:'GET',
                url: "/bewerbung2/verteiler/move/",
                data: {
                    distributionId: distributionId,
                    applicantId: applicantId
                }
            });
            reloadWithTurbolinks();
        }

    </script>
    <script>

        function saveHours(el) {
            var hours = el.value;
            var applicantId = el.dataset.applicantid;
            var distributionId = el.dataset.distributionid;

            $.ajax({
                async: false,
                method:'GET',
                url: "/bewerbung2/verteiler/saveHours/",
                data: {
                    distributionId: distributionId,
                    applicantId: applicantId,
                    hours: hours
                }
            });
            reloadWithTurbolinks();
        }

    </script>
    <script>

        function saveHoursEnter(ev, el) {
            if (event.which === 13) {
                var hours = el.value;
                var applicantId = el.dataset.applicantid;
                var distributionId = el.dataset.distributionid;

                $.ajax({
                    async: false,
                    method: 'GET',
                    url: "/bewerbung2/verteiler/saveHours/",
                    data: {
                        distributionId: distributionId,
                        applicantId: applicantId,
                        hours: hours
                    }
                });
                reloadWithTurbolinks();
            }
        }

    </script>
    <script>

        function saveChecked(el) {
            var checked = el.checked;
            var applicantId = el.dataset.applicantid;

            $.ajax({
                async: false,
                method:'GET',
                url: "/bewerbung2/verteiler/saveChecked/",
                data: {
                    applicantId: applicantId,
                    checked: checked
                }
            });
            reloadWithTurbolinks();
        }

    </script>
    <script>

        var reloadWithTurbolinks = (function () {
            var scrollPosition;

            function reload () {
                scrollPosition = [window.scrollX, window.scrollY];
                Turbolinks.visit(window.location.toString(), { action: 'replace' })
            }

            document.addEventListener('turbolinks:load', function () {
                if (scrollPosition) {
                    window.scrollTo.apply(window, scrollPosition);
                    scrollPosition = null;
                }
            });

            return reload
        })()
    </script>
</main>
</body>