<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Korrektorenbewerbung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Korrektorenbewerbung</title>
    <th:block th:fragment="headcontent">
        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
            <ul>
                <li>
                    <a th:href="@{/}">
                        Startseite
                    </a>
                </li>
                <li>
                    <a th:href="@{./}">
                        Dashboard
                    </a>
                </li>
            </ul>
        </nav>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div style="text-align: center;">
        <!-- Restlichen Inhalt hier einfügen! -->
        <div class="card bg-light mb-3 border-primary">
            <form action="#" method="post" th:action="@{/bewerbung2/bewerber/bearbeiteModulDaten}" th:object="${app}">
                <div class="card-header">
                    <div class="row d-flex justify-content-between">
                        <div class="col">
                            <a class="btn btn-danger float-left"
                               th:href="@{/bewerbung2/bewerber/loescheModul(module=${app.id})}"
                               type="submit">Löschen</a>
                        </div>
                        <div class="col">
                            <h2><label class="text-center" th:text="${app.module.name}">[Modulname]</label></h2>
                            <input th:field="*{module}" th:value="${app.module.name}" type="hidden">
                            <input th:field="*{id}" type="hidden">

                        </div>
                        <div class="col">
                            <button class="btn btn-outline-primary float-right" name="submit" type="submit">Speichern
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class=" col-md-3">
                            <label for="minload">
                                Minimale Stunden pro Woche
                            </label> <br>
                            <select class="form-control" id="minload" name="workload" th:field="*{minHours}">
                                <option value="7">7 Stunden/Woche</option>
                                <option value="9">9 Stunden/Woche</option>
                                <option value="17">17 Stunden/Woche</option>
                            </select>
                            <div th:if="${#fields.hasErrors('minHours')}" class="text-danger">
                                Bitte geben Sie ein gültiges Stundenminimum an.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="maxload">
                                Maximale Stunden pro Woche
                            </label> <br>
                            <select class="form-control" id="maxload" name="workload" th:field="*{maxHours}">
                                <option value="7">7 Stunden/Woche</option>
                                <option value="9">9 Stunden/Woche</option>
                                <option value="17">17 Stunden/Woche</option>
                            </select>
                            <div th:if="${#fields.hasErrors('maxHours')}" class="text-danger">
                                Bitte geben Sie ein gültiges Stundenmaximum an, das nicht kleiner als das
                                Minimum ist.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="grade">Geben die von Ihnen in diesem Modul erreichte Note an</label> <br>
                            <select class="form-control" id="grade" name="grade" th:field="*{grade}">
                                <option value="1.0">1,0</option>
                                <option value="1.3">1,3</option>
                                <option value="1.7">1,7</option>
                                <option value="2.0">2,0</option>
                                <option value="2.3">2,3</option>
                                <option value="2.7">2,7</option>
                                <option value="3.0">3,0</option>
                                <option value="3.3">3,3</option>
                                <option value="3.7">3,7</option>
                                <option value="4.0">4,0</option>
                                <option value="5.0">5,0</option>
                            </select>
                            <div th:if="${#fields.hasErrors('grade')}" class="text-danger">
                                Bitte geben Sie eine Note an.
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label th:for="semesters">In welchem Semester haben Sie dieses Modul bestanden</label>
                            <br>
                            <select class="form-control" required
                                    th:field="*{semester}"
                                    th:id="semesters" th:name="semesters">
                                <option disabled hidden selected value="">Semester</option>
                                <option th:each="semester:${semesters}" th:text="${semester}"
                                        th:value="${semester}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('semester')}" class="text-danger">
                                Bitte geben Sie ein Semester an.
                            </div>
                            <br>
                        </div>
                        <div class="col-6">
                            <label for="lecturer">Bei welchem Dozent haben Sie dieses Modul bestanden</label> <br>
                            <input class="form-control" id="lecturer" name="lecturer" placeholder="Dozent"
                                   th:field="*{lecturer}"
                                   type="text"
                                   required>
                            <div th:if="${#fields.hasErrors('lecturer')}" class="text-danger">
                                Bitte geben Sie einen Dozenten an.
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="tasks">Welche Aufgaben möchten Sie übernehmen</label> <br> <br>
                            <select class="form-control" id="tasks" name="tasks" th:field="*{role}">
                                <option th:each="role : ${T(mops.model.classes.Role).values()}" th:text="${role.label}"
                                        th:value="${role}"></option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="priority">
                                Geben Sie bitte hier ihre Priorität für dieses Modul an,
                                falls sie vor haben sich noch bei anderen Modulen zu bewerben
                            </label> <br>
                            <select class="form-control" id="priority" name="priority" th:field="*{priority}">
                                <option th:each="module : ${T(mops.model.classes.Priority).values()}"
                                        th:text="${module.label}" th:value="${module}">++
                                </option>
                            </select> <br>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>
                                    Beschreiben Sie hier kurz Ihre bisherigen Erfahrungen und sonstige Anmerkungen:
                                </label> <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            <textarea maxlength="1000" rows="6" th:attr="value = ${comment}" th:class="form-control"
                                      th:field="*{comment}"
                                      th:id="comment" th:name="comment"
                            ></textarea> <br>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>