<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Korrektorenbewerbung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Korrektorenbewerbung</title>
    <th:block th:fragment="headcontent">
        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
            <ul>
                <li>
                    <a th:href="@{/}">
                        Startseite
                    </a>
                </li>
                <li>
                    <a th:href="@{./}">
                        Dashboard
                    </a>
                </li>
            </ul>
        </nav>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div style="text-align: center;">
        <form th:action="@{uebersichtBearbeitet}" th:method="POST" th:object="${webApplicant}">
            <div class="card bg-light mb-3 border-primary">
                <div class="card-header"><h2>Persönliche Daten</h2></div>
                <div class="card-body">
                    <div class="row" th:object="${webAddress}">
                        <div class="col-4">
                            <input class="form-control" placeholder="Straße und Hausnummer"
                                   required th:attr="value = ${webAddress.street}"
                                   th:field="*{street}" th:name="street" th:type="text"> <br>
                            <div th:if="${#fields.hasErrors('street')}" class="text-danger">
                                Bitte geben Sie eine Straße ein.
                            </div>
                            <br>
                        </div>
                        <div class="col-md-1">
                            <input class="form-control" name="streetnumber" placeholder="Hausnummer" required
                                   th:field="*{number}" type="text">
                        </div>
                        <div class="col-5">
                            <input placeholder="Ort" required th:attr="value = ${webAddress.city}"
                                   th:class="form-control" th:field="*{city}"
                                   th:id="city" th:name="city" th:type="text">
                            <div th:if="${#fields.hasErrors('city')}" class="text-danger">
                                Bitte geben Sie eine Stadt an.
                            </div><br>
                        </div>
                        <div class="col-2">
                            <input placeholder="Postleitzahl" required th:attr="value = ${webAddress.zipcode}"
                                   th:class="form-control"
                                   th:field="*{zipcode}"
                                   th:id="zipcode" th:name="zipcode" type="text">
                            <div th:if="${#fields.hasErrors('zipcode')}" class="text-danger">
                                Bitte geben Sie eine gültige Postleitzahl ein.
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <input placeholder="Geburtsort, Land" required th:attr="value = ${webApplicant.birthplace}"
                                   th:class="form-control" th:field="*{birthplace}"
                                   th:id="birthplace" th:name="birthplace" th:type="text"> <br>
                        </div>
                        <div th:if="${#fields.hasErrors('birthplace')}" class="text-danger">
                            Bitte geben Sie einen Geburtsort an.
                        </div>
                        <div class="col-5">
                            <select required th:attr="value = ${webApplicant.nationality}" th:class="form-control"
                                    th:field="*{nationality}" th:id="nationality" th:name="nationality">
                                <option disabled hidden selected value="">Nationalität</option>
                                <option th:each="country:${countries}" th:text="${country}"
                                        th:value="${country}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('nationality')}" class="text-danger">
                                Bitte geben Sie eine Nationalität an.
                            </div>
                            <br>
                        </div>
                        <div class="col-2">
                            <input class="form-control" id="birthday" name="birthday" onblur="(this.type='text')"
                                   onfocus="(this.type='date')" placeholder="Geburtstag"
                                   required th:attr="value = ${webApplicant.birthday}" th:field="*{birthday}"
                                   type="text">
                            <div th:if="${#fields.hasErrors('birthday')}" class="text-danger">
                                Bitte geben Sie ein gültiges Geburtsdatum an.
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <select class="form-control" id="gender" name="gender"
                                    required th:attr="value = ${webApplicant.gender}" th:field="*{gender}">
                                <option disabled hidden selected value="">Geschlecht</option>
                                <option value="male">männlich</option>
                                <option value="female">weiblich</option>
                            </select>
                            <div th:if="${#fields.hasErrors('gender')}" class="text-danger">
                                Bitte wählen Sie ein Geschlecht.
                            </div>
                        </div>
                        <div class="col-4">
                            <div align="right">
                                <label for="courses">
                                    Wählen Sie ihr aktuellen Studienfach aus falls Sie an der HHU immatrikuliert sind.
                                    Ansonsten wählen sie bitte die Option <br>"nicht immatrikuliert".
                                </label> <br>
                            </div>

                        </div>
                        <div class="col-6">
                            <select class="form-control" id="courses" name="courses"
                                    th:field="*{course}">
                                <option th:each="cours:${courses}" th:text="${cours}" th:value="${cours}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('course')}" class="text-danger">
                                Bitte wählen Sie ein Studienfach.
                            </div>
                            <br> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div align="right">
                                <label>
                                    Wählen sie bitte Ihren aktuellen Angestelltenstatus
                                </label> <br>
                            </div>
                        </div>
                        <div class="col-6">
                            <select th:attr="value = ${webApplicant.status}" th:class="form-control"
                                    th:field="*{status}"
                                    th:id="status" th:name="status"
                                    required>
                                <option th:value="Einstellung">
                                    Neueinstellung (bisher keine Anstellung an der HHU)
                                </option>
                                <option th:value="Weiterbeschäftigung">
                                    Weiterbeschäftigung (bestehender Vertrag bis zum DD.MM.YYYY)
                                </option>
                                <option th:value="Änderung">
                                    Wiedereinstellung (KEIN bestehender Vertrag bis zum DD.MM.YYYY)
                                </option>
                            </select>
                            <div th:if="${#fields.hasErrors('status')}" class="text-danger">
                                Bitte wählen Sie Ihren Angestelltenstatus.
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label th:for="graduation">
                                Was ist der bisher höchste Universitätsabschluss, den Sie erreicht haben?
                                Bitte schreiben Sie in das Textfeld, in welchem Fach Sie Ihren Abschluss erreicht haben.
                                Falls der Abschluss nicht an der HHU erlangt wurde, schreiben sie dies bitte dazu.
                            </label> <br>
                        </div>
                    </div>
                    <div class="row">
                        <th:block th:object="${webCertificate}">
                            <div class="col-6">
                                <select class="form-control" th:attr="value = ${webCertificate.graduation}"
                                        th:field="*{graduation}"
                                        th:id="name" th:name="graduation">
                                    <option th:value="keins">kein Universitätsabschluss</option>
                                    <option th:value="Bachelor">Bachelor</option>
                                    <option th:value="Master">Master</option>
                                    <option th:value="Diplom">Diplom</option>
                                    <option th:value="Staatsexamen">Staatsexamen</option>
                                    <option th:value="Anderes">Anderes</option>
                                </select> <br>
                            </div>
                            <div class="col-6">
                                <input class="form-control" placeholder="Abschlussfach" th:field="*{graduationcourse}"
                                       th:id="graduationsubject" th:name="graduationsubject"
                                       th:type="text" th:value="${webCertificate.graduationcourse}">
                                <br>
                            </div>
                        </th:block>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>
                                Beschreiben Sie hier kurz Ihre bisherigen Erfahrungen und sonstige Anmerkungen:
                            </label> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <textarea maxlength="1000" rows="6" th:attr="value = ${webApplicant.comment}"
                                      th:class="form-control"
                                      th:field="*{comment}"
                                      th:id="comment" th:name="comment"
                            ></textarea>
                            <div th:if="${#fields.hasErrors('comment')}" class="text-danger">
                                Die Anmerkungen dürfen maximal 1000 Zeichen lang sein.
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-light mb-3 border-primary">
                <div class="card-body">
                    <div class="col">
                        <button class="btn btn-outline-primary form-control" th:type="submit"> Bestätige</button>
                    </div>
                </div>
            </div>
    </div>
        </form>
    </div>
</main>
</body>
</html>