<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Korrektorenbewerbung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Korrektorenbewerbung</title>
    <th:block th:fragment="headcontent">
        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
            <ul>
                <li>
                    <a th:href="@{/}">
                        Startseite
                    </a>
                </li>
                <li>
                    <a th:href="@{./}">
                        Dashboard
                    </a>
                </li>
            </ul>
        </nav>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div style="text-align: center;">
        <!-- Restlichen Inhalt hier einfügen! -->
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header">
                <label><h2>Persönliche Daten</h2></label>
                <a th:href="@{uebersicht}" class="btn btn-outline-primary" style="float: right;"> Speichern </a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-5">
                        <input type="text" name="adress1" id="adress1"
                               class="form-control" placeholder="Straße und Hausnummer"> <br>
                        <br>
                    </div>
                    <div class="col-5">
                        <input type="text" name="adress2" id="adress2"
                               class="form-control" placeholder="Ort"> <br>
                    </div>
                    <div class="col-2">
                        <input type="text" name="plz" id="plz" class="form-control" placeholder="Postleitzahl"> <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <input type="text" name="placeofbirth" id="placeofbirth"
                               class="form-control" placeholder="Geburtsort, Land"> <br>
                    </div>
                    <div class="col-5">
                        <select name="nationality" id="nationality" class="form-control">
                            <option value="" disabled selected hidden>Nationalität</option>
                            <option th:each="country:${countries}" th:text="${country}"></option>
                        </select> <br>
                    </div>
                    <div class="col-2">
                        <input type="text" name="birthday" id="birthday" onfocus="(this.type='date')"
                               onblur="(this.type='text')" class="form-control" placeholder="Geburtstag"> <br><br>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6">
                        <div align="right">
                            <label for="subject">
                                Wählen Sie ihr aktuellen Studienfach aus falls Sie an der HHU immatrikuliert sind.
                                Ansonsten wählen sie bitte die Option <br>"nicht immatrikuliert".
                            </label> <br>
                        </div>

                    </div>
                    <div class="col-6">
                        <select name="subject" id="subject" class="form-control"></select> <br> <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div align="right">
                            <label for="status">
                                Wählen sie bitte Ihren aktuellen Angestelltenstatus
                            </label> <br>
                        </div>
                    </div>
                    <div class="col-6">
                        <select name="status" id="status" class="form-control">
                            <option value="neueinstellung">
                                Neueinstellung (bisher keine Anstellung an der HHU)
                            </option>
                            <option value="weiterbeschaeftigung">
                                Weiterbeschäftigung (bestehender Vertrag bis zum DD.MM.YYYY)
                            </option>
                            <option value="wiedereinstellung">
                                Wiedereinstellung (KEIN bestehender Vertrag bis zum DD.MM.YYYY)
                            </option>
                        </select>
                        <br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="graduation">
                            Was ist der bisher höchste Universitätsabschluss, den Sie erreicht haben?
                            Bitte schreiben Sie in das Textfeld, in welchem Fach Sie Ihren Abschluss erreicht haben.
                            Falls der Abschluss nicht an der HHU erlangt wurde, schreiben sie dies bitte dazu.
                        </label> <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <select name="graduation" id="graduation" class="form-control">
                            <option value="bachelor">Bachelor</option>
                            <option value="master">Master</option>
                            <option value="diplom">Diplom</option>
                            <option value="staatsexamen">Staatsexamen</option>
                            <option value="else">Anderes</option>
                            <option value="none">kein Universitätsabschluss</option>
                        </select> <br>
                    </div>
                    <div class="col-6">
                        <input type="text" name="graduationsubject" id="graduationsubject"
                               class="form-control" placeholder="Abschlussfach"> <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="diverse">
                            Beschreiben Sie hier kurz Ihre bisherigen Erfahrungen und sonstige Anmerkungen:
                        </label> <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <textarea name="diverse" id="diverse" class="form-control" rows="6"></textarea> <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>