<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='KorektorInnenbewerbung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>KorrektorInnenbewerbung</title>
    <th:block th:fragment="headcontent">
    <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a th:href="@{/}">
                    Startseite
                </a>
            </li>
            <li>
                <a th:href="@{neueBewerbung}">
                    Neue Bewerbungen
                </a>
            </li>
            <li>
                <a th:href="@{offeneBewerbungen}">
                    Offene Bewerbungen
                </a>
            </li>
            <li>
                <a th:href="@{profil}">
                    Persönliche Ansicht
                </a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="card-deck">
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header d-flex justify-content-start align-items-start">
                <h3 class="col">Neue Bewerbungen</h3>
            </div>
            <div class="card-body flex-column h-100">
                <p class="card-text">Hier können Sie neue Bewerbungen für Module ausfüllen
                    und abschicken. Diese werden nach Ablauf der Frist weitergeleitet und Sie
                    werden per Post über das ergebniss benachrichtigt. Blablabla hier fehlt noch Text.</p>
                <div class="text-center">
                    <a th:href="@{neueBewerbung}" class="btn btn-outline-primary">Neue Bewerbung</a>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header d-flex justify-content-between align-items-start">
                <div>
                    <h3 class="col">Persönliche Informationen</h3>
                </div>
                <div>
                    <div class="btn btn-link btn-sm">
                        <a href="https://keycloak.cs.hhu.de/auth/realms/MOPS/account">Bearbeiten</a>
                    </div>
                </div>
            </div>
            <div class="card-body flex-column h-100">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody th:object="${account}">
                    <tr>
                        <td scope="col">Name</td>
                        <td scope="col" th:text="*{name}">Max Mustermann</td>
                    </tr>
                    <tr>
                        <td scope="col">Rolle</td>
                        <td scope="col" th:text="*{roles}">Admin</td>
                    </tr>
                    <tr>
                        <td scope="col">E-Mail</td>
                        <td scope="col" th:text="*{email}">Max.Mustermann@uni-duesseldorf.de</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card bg-light mb-3 border-primary">
        <div class="card-header d-flex justify-content-between align-items-start">
            <div>
                <h3 class="col">Offene Bewerbungen</h3>
            </div>
            <div>
                <div class="btn btn-link btn-sm">
                    <a th:href="@{uebersicht}">Bearbeiten</a>
                </div>
            </div>
        </div>
        <div class="card-body flex-column h-100">
            <div class="row">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Modul</th>
                        <th scope="col">Bewerbungsfrist</th>
                        <th scope="col">Bewerbungsstatus</th>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Example #1</td>
                        <td>Example #2</td>
                        <td>Example #3</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Example #1</td>
                        <td>Example #2</td>
                        <td>Example #3</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Example #1</td>
                        <td>Example #2</td>
                        <td>Example #3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
</body>
</html>