<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Persönliche Ansicht', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <th:block th:fragment="headcontent">
        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a th:href="@{/}">
                    Startseite
                </a>
            </li>
            <li>
                <a th:href="@{..}">
                    Dashboard
                </a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Restlichen Inhalt hier einfügen! -->
</main>
</body>
</html>