<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Korrektorenbewerbung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Korrektorenbewerbung</title>
    <th:block th:fragment="headcontent">
        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
            <ul>
                <li>
                    <a th:href="@{/}">
                        Startseite
                    </a>
                </li>
                <li>
                    <a th:href="@{./}">
                        Dashboard
                    </a>
                </li>
            </ul>
        </nav>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div style="text-align: center;">
        <!-- Restlichen Inhalt hier einfügen! -->
        <form th:action="@{bewerbung2/bewerber/uebersicht}" th:method="POST">
            <div class="card bg-light mb-3 border-primary">
                <div class="card-header"> <label th:for="module"><h2 th:text="${module}"></h2></label>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label for="workload">
                                Geben Sie bitte an wie viele Stunden pro Woche sie arbeiten möchten
                            </label> <br>
                            <select name="workload" id="workload" class="form-control">
                                <option value="7">7 Stunden/Woche</option>
                                <option value="9">9 Stunden/Woche</option>
                                <option value="17">17 Stunden/Woche</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="grade">Geben die von Ihnen in diesem Modul erreichte Note an</label> <br>
                            <select name="grade" id="grade" class="form-control">
                                <option value="10">1,0</option>
                                <option value="13">1,3</option>
                                <option value="17">1,7</option>
                                <option value="20">2,0</option>
                                <option value="23">2,3</option>
                                <option value="27">2,7</option>
                                <option value="30">3,0</option>
                                <option value="33">3,3</option>
                                <option value="37">3,7</option>
                                <option value="40">4,0</option>
                                <option value="50">5,0</option>
                            </select> <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="semesters">In welchem Semester haben Sie dieses Modul bestanden</label> <br>
                            <select name="semesters" id="semesters" class="form-control">
                                <option th:each="semester:${semesters}" th:text="${semester}"></option>
                            </select>
                            <br>
                        </div>
                        <div class="col">
                            <label for="lecturer">Bei welchem Dozent haben Sie dieses Modul bestanden</label> <br>
                            <input type="text" name="lecturer" id="lecturer" class="form-control" placeholder="Dozent">
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="tasks">Welche Aufgaben möchten Sie übernehmen</label> <br> <br>
                            <select name="tasks" id="tasks" class="form-control">
                                <option value="corrctor">Korrektor</option>
                                <option value="correctorandtutor">Korrektor und Tutor</option>
                                <option value="nomatter">Ist mir egal</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="priority">
                                Geben Sie bitte hier ihre Priorität für dieses Modul an,
                                falls sie vor haben sich noch bei anderen Modulen zu bewerben
                            </label> <br>
                            <select name="priority" id="priority" class="form-control">
                                <option value="1">++</option>
                                <option value="2">+</option>
                                <option value="3">o</option>
                            </select> <br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card bg-light mb-3 border-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <label for="module">
                                Falls Sie sich bei einem weiteren Modul bewerben möchten können Sie dieses hier auswählen
                            </label>
                        </div>
                        <div class="col-4">
                            <select name="module" id="module" class="form-control"></select>
                        </div>
                        <div class="col-2">
                            <a th:href="@{modul}" class="btn btn-outline-primary form-control"> Bestätige </a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card bg-light mb-3 border-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            Klicken sie hier falls sie ihre Bewerbung einreichen wollen.
                            Sie wird bis zur Frist noch änderbar sein.
                        </div>
                        <div class="col-2">
                            <!--<a th:href="@{uebersicht}" class="btn btn-outline-primary form-control"> Einreichen </a>
                            -->
                            <input th:type="submit" th:value="submit">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
</body>
</html>