<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Korrektorenbewerbung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Korrektorenbewerbung</title>
    <th:block th:fragment="headcontent">
        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
            <ul>
                <li>
                    <a th:href="@{/}">
                        Startseite
                    </a>
                </li>
                <li>
                    <a th:href="@{./}">
                        Dashboard
                    </a>
                </li>
            </ul>
        </nav>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div style="text-align: center;">
    <!-- Restlichen Inhalt hier einfügen! -->
        <h1> Bewerbung</h1>
        <div class="card">
            <div class="card-body">
                <h2> Persönliche Daten</h2> <br>
                <div class="row">
                    <div class="col">
                        <input type="text" name="adress1" id="adress1"
                               class="form-control" placeholder="Straße und Hausnummer"> <br>
                        <br>
                    </div>
                    <div class="col">
                        <input type="text" name="adress2" id="adress2"
                               class="form-control" placeholder="Postleitzahl und Ort"> <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    Bitte geben Sie ihren Geburtstag, Ihren Geburtsort (falls das Land abweichend von Deutschland ist,
                    geben sie bitte auch das Land an) und Ihre Nationalität.
                    <div class="col">
                        <label for="birthday" class="form">Geburtstag</label>
                        <input type="date" name="birthday" id="birthday"
                               class="form-control" placeholder="Geburtstag (DD.MM.YYYY)"> <br>
                        <br>
                    </div>
                    <div class="col">
                        <label for="placeofbirth" class="form">Geburtsort</label>
                        <input type="text" name="placeofbirth" id="placeofbirth"
                               class="form-control" placeholder="Geburtsort"> <br>
                        <br>
                    </div>
                    <div class="col">
                        <label for="nationality" class="form">Nationalität</label>
                        <select name="nationality" id="nationality" class="form-control"></select> <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="subject">
                            Wählen Sie ihr aktuellen Studienfach aus falls Sie an der HHU immatrikuliert sind.
                            Ansonsten wählen sie bitte die Option "nicht immatrikuliert".
                        </label> <br>
                    </div>
                    <div class="col">
                        <label for="status">
                            Wählen sie bitte Ihren aktuellen Angestelltenstatus
                        </label> <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <select name="subject" id="subject" class="form-control"></select> <br>
                        <br>
                    </div>
                    <div class="col">
                        <select name="status" id="status" class="form-control">
                            <option value="neueinstellung">
                                Neueinstellung (bisher keine Anstellung an der HHU)
                            </option>
                            <option value="weiterbeschaeftigung">
                                Weiterbeschäftigung (bestehender Vertrag bis zum DD.MM.YYYY)
                            </option>
                            <option value="wiedereinstellung">
                                Wiedereinstellung (KEIN bestehender Vertrag bis zum DD.MM.YYYY)
                            </option>
                        </select> <br>
                    </div>
                </div>
                <div class="row">
                    Was ist der bisher höchste Universitätsabschluss, den Sie erreicht haben?
                    Bitte schreiben Sie in das Textfeld, in welchem Fach Sie Ihren Abschluss erreicht haben.
                    Falls der Abschluss nicht an der HHU erlangt wurde, schreiben sie dies bitte dazu.
                    <div class="col">
                        <select name="graduation" id="graduation" class="form-control">
                            <option value="bachelor">Bachelor</option>
                            <option value="master">Master</option>
                            <option value="diplom">Diplom</option>
                            <option value="staatsexamen">Staatsexamen</option>
                            <option value="else">Anderes</option>
                            <option value="none">kein Universitätsabschluss</option>
                        </select> <br>
                    </div>
                    <div class="col">
                        <input type="text" name="graduationsubject" id="graduationsubject"
                               class="form-control" placeholder="Abschlussfach"> <br>
                    </div>
                </div>
                <div class="row">
                    <label for="diverse">
                        Beschreiben Sie hier kurz Ihre bisherigen Erfahrungen und sonstige Anmerkungen:
                    </label> <br>
                    <textarea name="diverse" id="diverse" class="form-control"></textarea> <br>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <label for="module">
                    Wählen sie das Fach für das Sie sich bewerben möchten:
                </labelfor> <br>
                <select name="module" id="module"></select> <br>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <label for="workload">
                    Geben Sie bitte an wie viele Stunden pro Woche sie arbeiten möchten
                </label> <br>
                <select name="workload" id="workload">
                    <option value="9">9 Stunden/Woche</option>
                    <option value="10">10 Stunden/Woche</option>
                    <option value="17">17 Stunden/Woche</option>
                </select> <br>
                <br>
                <label for="grade">Note</label> <br>
                <select name="grade" id="grade">
                    <option value="10">1,0</option>
                    <option value="13">1,3</option>
                    <option value="17">1,7</option>
                    <option value="20">2,0</option>
                    <option value="23">2,3</option>
                    <option value="27">2,7</option>
                    <option value="30">3,0</option>
                    <option value="33">3,3</option>
                    <option value="37">3,7</option>
                    <option value="40">4,0</option>
                    <option value="50">5,0</option>
                </select> <br>
                <br>
                <label for="semester">In welchem Semester haben Sie dieses Modul bestanden</label> <br>
                <select name="semester" id="semester"></select> <br>
                <br>
                <label for="lecturer">Bei welchem Dozent haben Sie dieses Modul bestanden</label> <br>
                <input type="text" name="lecturer" id="lecturer"> <br>
                <br>
                <label for="tasks">Welche Aufgaben möchten Sie übernehmen?</labelf> <br>
                <select name="tasks" id="tasks">
                    <option value="corrctor">Korrektor</option>
                    <option value="correctorandtutor">Korrektor und Tutor</option>
                    <option value="nomatter">Ist mir egal</option>
                </select> <br>
                <br>
                <label for="priority">
                    Geben Sie bitte hier ihre Priorität für dieses Modul an,
                    falls sie vor haben sich noch bei anderen Modulen zu bewerben:
                </label> <br>
                <select name="priority" id="priority">
                    <option value="1">++</option>
                    <option value="2">+</option>
                    <option value="3">o</option>
                </select> <br>
            </div>
        </div>
    </div>
</main>
</body>
</html>