<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='KorrektorInnenbewerbung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>KorrektorInnenbewerbung</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header class="header header-main">
    <a>
        <h1>KorrektorInnenbewerbung <3</h1>
    </a>
</header>
<main th:fragment="bodycontent">
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li class="active">
                <a th:href="@{/home}" href="/home">Home</a>
            </li>
            <li>
                <a th:href="@{/account}" href="/account">Account</a>
            </li>
        </ul>
    </nav>
</main>
</body>
</html>