<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Bewerbung Martin Mustermann</h1>
    <div class="card">
        <div class="card-body">
            <h2>Persönliche Daten</h2>
            <h3>Anschrift:</h3>
            <p>Bla bla bla</p>
            <h3>Geburtsdatum:</h3>
            <p>Bla bla</p>
            <h3>Geburtsort:</h3>
            <p>Bla bla bla bla</p>
            <h3>Nationalität:</h3>
            <p>Bla</p>
        </div>
    </div>
</body>
</html>