<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Persönliche Daten</h2>
            <h3>Anschrift:</h3>
            <p>Bla bla bla</p>
            <h3>Geburtsdatum:</h3>
            <p>Bla bla</p>
            <h3>Geburtsort:</h3>
            <p>Bla bla bla bla</p>
            <h3>Nationalität:</h3>
            <p>Bla</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Studium</h2>
            <h3>Studienfach:</h3>
            <p>Bla bla bla</p>
            <h3>Höchster Abschluss:</h3>
            <p>Bla bla</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Angestelltenstatus</h2>
            <p>Bla bla</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Anmerkungen</h2>
            <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Dieses Modul</h2>
            <h3>Note:</h3>
            <p>1,3</p>
            <h3>Modul bestanden in Semester:</h3>
            <p>2</p>
            <h3>Angestrebte Aufgaben:</h3>
            <p>Korrektor und Tutor</p>
            <h3>Angestrebte Arbeitsstunden:</h3>
            <p>10 Stunden</p>
            <h3>Modulpriorität</h3>
            <p>2</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Weitere Bewerbungen</h2>
            <ul>
                <li>Modul Bla</li>
                <li>Modul Blu</li>
            </ul>
        </div>
    </div>
</body>
</html>