<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div class="card my-1">
        <div class="card-header">
            <h3>Persönliche Daten</h3>
        </div>
        <div class="card-body">
            <h3>Anschrift:</h3>
            <p>Bla bla bla</p>
            <h3>Geburtsdatum:</h3>
            <p>Bla bla</p>
            <h3>Geburtsort:</h3>
            <p>Bla bla bla bla</p>
            <h3>Nationalität:</h3>
            <p>Bla</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-header">
            <h3>Studium</h3>
        </div>
        <div class="card-body">
            <h3>Studienfach:</h3>
            <p>Bla bla bla</p>
            <h3>Höchster Abschluss:</h3>
            <p>Bla bla</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-header">
            <h3>Angestelltenstatus</h3>
        </div>
        <div class="card-body">
            <p>Bla bla</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-header">
            <h3>Dieses Modul</h3>
        </div>
        <div class="card-body">
            <h3>Bestanden in Semester:</h3>
            <p>Wintersemester 2019</p>
            <h3>Note:</h3>
            <p>1,3</p>
            <h3>Dozent</h3>
            <p>Bla bla bla</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-header">
            <h3>Angestrebte Position</h3>
        </div>
        <div class="card-body">
            <h3>Aufgaben:</h3>
            <p>Korrektor und Tutor</p>
            <h3>Arbeitsstunden pro Woche:</h3>
            <p>10</p>
            <h3>Modulpriorität</h3>
            <p>2</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-header">
            <h3>Anmerkungen</h3>
        </div>
        <div class="card-body">
            <p>Bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
        </div>
    </div>

    <div class="card my-1">
        <div class="card-header">
            <h3>Weitere Bewerbungen</h3>
        </div>
        <div class="card-body">
            <ul>
                <li>Modul Bla</li>
                <li>Modul Blu</li>
            </ul>
        </div>
    </div>
</body>
</html>