<!doctype html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Download PDFs', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <th:block th:fragment="headcontent">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">

    </th:block>
    <title>Organize Applications</title>
</head>

<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a th:href="@{/}">
                    Startseite
                </a>
            </li>
            <li>
                <a th:href="@{./}">
                    Dashboard
                </a>
            </li>
        </ul>
    </nav>
</header>

<main th:fragment="bodycontent">
    <form th:action="@{downloadAlles}" th:method="POST">
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h2>Downloaden Sie alle verteilten Bewerbungen als PDFs hier!</h2></div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h4>Sie wollen nur alle Bewerbungen abschicken? Klicken Sie hier!</h4></div>
            <div class="card-body">
                <div class="row form-row">
                    <button th:type="submit" th:formaction="@{pdfsAbsenden}" th:value="absenden"
                            class="btn btn-outline-primary form-control">Absenden</button>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h4>Downloaden Sie alle Bewerbung eines Moduls hier!</h4></div>
            <div class="card-body">
                <div class="row form-row">
                    <label th:for="modules">Suchen Sie hier aus, für welches Modul sie die Bewerbungen downloaden wollen!</label><br>
                    <select th:name="modules" th:id="modules" class="form-control">
                        <option th:each="module : ${modules}" th:value="${module}" th:text="${module}">Modul a</option>
                    </select>
                </div>
                <br>
                <div class="row form-row">
                    <button th:type="submit" th:value="Download" th:formaction="@{downloadModul}"
                            class="btn btn-outline-primary form-control">Download</button>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h4>Downloaden Sie eine Bewerbung eines Studenten hier!</h4></div>
            <div class="card-body">
                <div class="row form-row">
                    <label th:for="modulesStudent">Suchen Sie hier zuerst aus, für welches Modul sie die Bewerbung downloaden wollen!</label><br>
                    <select th:name="modulesStudent" th:id="modulesStudent" class="form-control">
                        <option th:each="moduleStudent : ${modulesStudent}" th:value="${moduleStudent}" th:text="${moduleStudent}">Modul a</option>
                    </select>
                </div>
                <br>
                <div class="row form-row">
                    <button th:type="submit" th:value="Download" th:formaction="@{downloadBewerberZugeteilt}"
                            class="btn btn-outline-primary form-control">Download</button>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h4>Downloaden Sie alle Bewerbungen hier!</h4></div>
            <div class="card-body">
                <div class="row form-row">
                    <label>Oder laden Sie alle Bewerbungen hier herunter!</label><br>
                </div>
                <div class="row form-row">
                    <button th:type="submit" th:value="Download" class="btn btn-outline-primary form-control">Download</button>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>