
<!doctype html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Einstellungsbögen', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <th:block th:fragment="headcontent">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/loadinginfo.js" type="text/javascript"></script>

    </th:block>
    <title>Organize Applications</title>
</head>

<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:if="${account.roles.size() > 1}">
            <li th:if="${account.roles.contains('verteiler')}"><a th:href="@{/bewerbung2/verteiler/}">Verteiler
                Übersicht</a></li>
            <li th:if="${account.roles.contains('orga')}"><a th:href="@{/bewerbung2/organisator/}">Organisator
                Übersicht</a></li>
            <li th:if="${account.roles.contains('setup')}"><a th:href="@{/bewerbung2/setup/}">Ersteller Übersicht</a>
            </li>
            <li th:if="${account.roles.contains('studentin')}"><a th:href="@{/bewerbung2/bewerber/}">Bewerber
                Übersicht</a></li>
        </ul>
    </nav>
</header>

<main th:fragment="bodycontent">
    <form th:action="@{downloadAllesZugeteilt}" th:method="POST">
        <div role="alert" th:class="${'alert alert-' + type}" th:unless="${message} == null or ${message.isEmpty()}">
            <label th:text="${message}"></label>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h2>Download-Möglichkeit für alle Einstellungsbögen der Bewerber</h2>
            </div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h4>Senden aller Einstellungsbögen als E-Mail</h4></div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label>Achtung, der E-Mailversand kann bei großer Bewerberanzahl fehlschlagen.</label>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="col">
                        <label th:for="email">Bitte geben Sie die E-Mail-Adresse an, an die Sie die Einstellungsbögen
                            schicken wollen:</label>
                        <br>
                        <div class="col form-inline">
                            <input class="form-row mx-2" th:id="email" th:name="email" th:type="text">
                            <button class="btn btn-outline-primary form-control ml-3" id="emailButton"
                                    onclick="spinnerLoading('emailButton')"
                                    th:formaction="@{versenden}"
                                    th:type="submit"
                                    th:value="absenden"
                            >Absenden
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h4>Download aller Einstellungsbögen</h4></div>
            <div class="card-body">
                <div class="row form-row">
                    <label>Hier können Sie alle Einstellungsbögen entsprechend Ihrer Zuteilung
                        herunterladen.</label><br>
                </div>
                <div class="row form-row">
                    <button class="btn btn-outline-primary form-control" id="downloadAll"
                            onclick="spinnerLoading('downloadAll')" th:type="submit" th:value="Download">Download
                    </button>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h4>Download aller Einstellungsbögen eines Moduls</h4></div>
            <div class="card-body">
                <div class="row form-row">
                    <label th:for="modules">Wählen Sie hier aus, für welches Modul Sie die Einstellungsbögen
                        herunterladen wollen.
                    </label><br>
                    <select th:name="modules" th:id="modules" class="form-control">
                        <option th:each="module : ${modules}" th:value="${module}" th:text="${module}">Modul a</option>
                    </select>
                </div>
                <br>
                <div class="row form-row">
                    <button class="btn btn-outline-primary form-control" id="moduleButton"
                            onclick="spinnerLoading('moduleButton')"
                            th:formaction="@{zipModuleDownloadAssigned}" th:type="submit" th:value="Download">Download
                    </button>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header"><h4>Download des Einstellungsbogens eines Studenten</h4></div>
            <div class="card-body">
                <div class="row form-row">
                    <label th:for="modulesStudent">Wählen Sie hier zuerst aus, für welches Modul Sie den
                        Einstellungsbogen herunterladen wollen.</label><br>
                    <select th:name="modulesStudent" th:id="modulesStudent" class="form-control">
                        <option th:each="moduleStudent : ${modulesStudent}" th:text="${moduleStudent}"
                                th:value="${moduleStudent}">Modul a
                        </option>
                    </select>
                </div>
                <br>
                <div class="row form-row">
                    <button th:type="submit" th:value="Download" th:formaction="@{downloadBewerberZugeteilt}"
                            class="btn btn-outline-primary form-control">Download</button>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>