<html lang="en"
      th:replace="~{base :: html(content=~{:: mycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Orga</title>
</head>

<body>
<div id="content" th:fragment="mycontent">
    <h1 class="text-center">
        Module
    </h1>
    <div class="card my-3 py-2">
        <a href="/bewerbung2/organisator/overview" class="card-body">
            Modul 1
        </a>
    </div>
    <div class="card my-3 py-2">
        <a href="/bewerbung2/organisator/overview" class="card-body">
            Modul 2
        </a>
    </div>
    <div class="card my-3 py-2">
        <a href="/bewerbung2/organisator/overview" class="card-body">
            Modul 3
        </a>
    </div>
</div>
</body>
</html>