<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Orga', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Orga</title>
</head>

<body>

<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:if="${account.roles.size() > 1}">
            <li th:if="${account.roles.contains('verteiler')}"><a th:href="@{/bewerbung2/verteiler/}">Verteiler Übersicht</a></li>
            <li th:if="${account.roles.contains('orga')}"><a th:href="@{/bewerbung2/organisator/}">Organisator Übersicht</a></li>
            <li th:if="${account.roles.contains('setup')}"><a th:href="@{/bewerbung2/setup/}">Ersteller Übersicht</a></li>
            <li th:if="${account.roles.contains('studentin')}"><a th:href="@{/bewerbung2/bewerber/}">Bewerber Übersicht</a></li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
<div id="content">
    <div class="card-deck">
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header d-flex justify-content-start align-items-start">
                <h3 class="col">Offene Bewerbungsverfahren</h3>
            </div>
            <div class="card-body flex-column h-100">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                    <tr th:each="module : ${modules}">
                        <td height="60" class="align-middle">
                            <a href="#" th:attr="data-phone=${organizer.phonenumber}" onclick="checkAllowed(this)" th:href="@{/bewerbung2/organisator/{id}/ ( id = ${module.id})}" style="display:block;margin:0px;width:100%;height:100%;" th:text="${module.name}" class="align-middle">
                                Modul 1
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header">
                <div>
                    <h3 class="col">Persönliche Informationen</h3>
                </div>
            </div>
            <div class="card-body flex-column h-50">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody th:object="${account}">
                    <tr>
                        <td scope="col" height="60" class="align-middle">Name</td>
                        <td scope="col" height="60" class="align-middle" th:text="*{name}">Max Mustermann</td>
                        <td height="60" class="align-middle">
                            <div class="btn btn-outline-primary btn-sm">
                                <a href="https://keycloak.cs.hhu.de/auth/realms/MOPS/account">Bearbeiten</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="col" height="60" class="align-middle">Rolle</td>
                        <td scope="col" height="60" class="align-middle" th:text="*{roles}">Admin</td>
                        <td height="60" class="align-middle">
                            <div class="btn btn-outline-primary btn-sm">
                                <a href="https://keycloak.cs.hhu.de/auth/realms/MOPS/account">Bearbeiten</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="col" height="60" class="align-middle">E-Mail</td>
                        <td scope="col" height="60" class="align-middle" th:text="*{email}">Max.Mustermann@uni-duesseldorf.de</td>
                        <td height="60" class="align-middle">
                            <div class="btn btn-outline-primary btn-sm">
                                <a href="https://keycloak.cs.hhu.de/auth/realms/MOPS/account">Bearbeiten</a>
                            </div>
                        </td>
                    </tr>
                    <tr th:style="${organizer.phonenumber} == '' ? 'background-color: rgba(227, 74, 74)' : _">
                        <td scope="col" height="60" class="align-middle">Telefon</td>
                        <td scope="col" height="60" class="align-middle"
                            th:text="${organizer.phonenumber} == '' ? 'Bitte speichern Sie Ihre Telefonnummer!' : ${organizer.phonenumber}">0123/456789</td>
                        <td height="60" class="align-middle">
                            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#editModal"
                                    th:classappend="${organizer.phonenumber} == '' ? 'btn-primary' : 'btn-outline-primary'">Bearbeiten</button>
                        </td>
                    </tr>
                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="modal-title">Telefonnummer bearbeiten</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form th:action="@{/bewerbung2/organisator/}" th:method="POST">
                                    <div class="modal-body">
                                        <input autofocus onfocus="this.select();" type="text" name="phone" id="phone" class="form-control" th:value="${organizer.phonenumber} == '' ? '' : ${organizer.phonenumber}" placeholder="Telefonnummer">
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-outline-primary" type="submit"> Speichern </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
                    <script>
                        $(document).on('shown.bs.modal', function (e) {
                            $('[autofocus]', e.target).focus();
                        });
                    </script>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function checkAllowed(el) {
            var phone = el.dataset.phone;
            if (phone in window) {
                alert("Bitte speichern Sie zuerst Ihre Telefonnummer!")
            }
        }
    </script>
</div>
</main>
</body>
</html>