<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Orga', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">

<head>
    <meta charset="utf-8">
    <title>Name des Subsystems</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script>
            $.fn.dataTable.ext.order['dom-select'] = function (settings, col) {
                return this.api().column(col, {order: 'index'}).nodes().map(function (td, i) {
                    return $('select', td).val();
                });
            };
            $(document).ready(function () {
                $('#table_id').DataTable({
                    "paging": false,
                    "searching": false,
                    "info": false,
                    "columns": [
                        {"name": "ProfPrio", "orderable": true, "orderDataType": "dom-select"},
                        {"name": "AppPrio", "orderable": true},
                        {"name": "Rolle", "orderable": true},
                        {"name": "Note", "orderable": true},
                        {"name": "MinStunden", "orderable": true},
                        {"name": "MaxStunden", "orderable": true},
                        {"name": "Stunden", "orderable": true, "orderDataType": "dom-select" },
                        {"name": "Unikennung", "orderable": true},
                        {"name": "ButtonShow", "orderable": false}
                    ]
                } );
            } );
        </script>
    </th:block>
</head>
<body>


<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>

<main th:fragment="bodycontent">
    <form th:action="@{./}" th:method="POST" th:object="${WebList}">
        <button class="btn btn-primary" th:type="submit" th:value="submit">Speichern</button>
        <table id="table_id" class="display" style="width:100%">
            <thead>
            <tr>
                <th class="text-center">Ihre Priorität</th>
                <th class="text-center">Priorität des Bewerbers</th>
                <th class="text-center">Note</th>
                <th class="text-center">Rolle</th>
                <th class="text-center">Min. Arbeitszeit</th>
                <th class="text-center">Max. Arbeitszeit</th>
                <th class="text-center">Stundenanzahl</th>
                <th class="text-center">Unikennung</th>
                <th class="text-center">Ganze Bewerbung</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="appl, stat : ${WebList.applications}">
                <td class="text-center">
                    <select id="priority" name="priority" th:field="*{applications[__${stat.index}__].priority}"
                            th:name="|applications[__${stat.index}__].priority|" th:value="${appl.priority}">
                        <option th:each="priority : ${T(mops.model.classes.Priority).values()}"
                                th:text="${priority.label}"
                                th:value="${priority}"
                        >++
                        </option>
                    </select>
                    <input th:field="*{applications[__${stat.index}__].id}" th:value="${appl.id}" type="hidden">
                </td>
                <td class="text-center" th:text="${appl.studentPriotiry.label}"
                    th:value="${appl.studentPriotiry.value}">++
                </td>
                <td th:text="${appl.grade}" class="text-center">2,7</td>
                <td th:text="${appl.role.label}" class="text-center">Tutor</td>
                <td th:text="${appl.minHours} + 'h'" class="text-center">7h</td>
                <td th:text="${appl.maxHours} + 'h'" class="text-center">9h</td>
                <td class="text-center">
                    <select id="hours" th:field="*{applications[__${stat.index}__].finalHours}"
                            th:name="|applications[${stat.index}].finalHours|" th:value="${appl.finalHours}">
                        <option th:value="7">7 Stunden</option>
                        <option th:value="9">9 Stunden</option>
                        <option th:value="17">17 Stunden</option>
                    </select>
                </td>
                <td class="text-center" th:text="${appl.uniserial}">Mamus100</td>
                <td class="text-center">
                    <button class="btn btn-outline-dark openBtn" data-target="#applicationModal" data-toggle="modal"
                            th:attr="data-id=${appl.id},data-name=${appl.firstName + ' ' + appl.surname}" type="button">
                        Bewerbung ansehen
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="modal fade" id="applicationModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Bewerbung von Max Mustermann</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body applicationModal">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $('#applicationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var test = button.data('id');
            var applicant = button.data('name');
            var modal = $(this);
            modal.find('.modal-title').text('Bewerbung von ' + applicant);
            $('.applicationModal').load('/bewerbung2/organisator/modal/' + test + '/',function(){
                $('#applicationModal').show(true);
            });
        });
    </script>
</main>
</body>
</html>