<!doctype html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Bewerbungs Organisation', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <th:block th:fragment="headcontent">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">

    </th:block>
    <title>Organize Applications</title>
</head>

<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:if="${account.roles.size() > 1}">
            <li th:if="${account.roles.contains('verteiler')}"><a th:href="@{/bewerbung2/verteiler/}">Verteiler Übersicht</a></li>
            <li th:if="${account.roles.contains('orga')}"><a th:href="@{/bewerbung2/organisator/}">Organisator Übersicht</a></li>
            <li th:if="${account.roles.contains('setup')}"><a th:href="@{/bewerbung2/setup/}">Ersteller Übersicht</a></li>
            <li th:if="${account.roles.contains('studentin')}"><a th:href="@{/bewerbung2/bewerber/}">Bewerber Übersicht</a></li>
        </ul>
        <ul>
            <li><a th:href="@{./}">Zurück</a></li>
        </ul>
    </nav>
</header>

<main th:fragment="bodycontent">
    <form th:action="@{setupMain}" th:method="POST" th:object="${module}">
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="margin-bottom: .0rem" class="card-title" th:text="*{name}"></h3>
                    </div>
                    <div class="col-md-4 container-fluid">
                        <button class="btn btn-outline-primary btn-sm float-right" type="submit">Speichern</button>
                    </div>
                </div>
            </div>
            <div class="card-body container-fluid">
                <div class="d-flex align-items-sm-center">
                    <div class="col-md-4 px-md-1 align-self-center">
                        <div class="row form-group">
                            <div>
                                <input id="oldName" name="oldName" type="hidden" th:value="*{name}">
                                <label for="name">Modulname</label><br>
                                <input type="text" name="name" id="name"
                                       th:value="*{name}" th:placeholder="*{name}" th:field="*{name}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-1 align-self-center">
                         <div class="row form-group">
                             <div>
                                <label for="shortName">Kurzform des Moduls</label><br>
                                <input type="text" name="shortName" id="shortName"
                                       th:value="*{shortName}" th:placeholder="*{shortName}" th:field="*{shortName}">
                            </div>
                         </div>
                    </div>
                    <div class="col-md-4 px-md-1 align-self-center">
                        <div class="row form-group">
                            <div>
                                <label for="profSerial">Zugeordnete Person (Unikennung)</label><br>
                                <input type="text" name="profSeriale" id="profSerial"
                                       th:value="*{profSerial}" th:placeholder="*{profSerial}" th:field="*{profSerial}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body container-fluid">
                <div class="d-flex align-items-sm-center">
                    <div class="col-md-4 px-md-1 align-self-center">
                        <div class="row form-group">
                            <div>
                                <label for="applicantDeadlineDate">Bewerbungsfrist</label><br>
                                <input type="text" name="applicantDeadlineDate" id="applicantDeadlineDate" onfocus="(this.type='date')"
                                       th:field="*{applicantDeadlineDate}" th:attr="value = *{applicantDeadlineDate}" onclick="minimumDate1()"
                                       onblur="(this.type='text')" class="form-control" th:placeholder="*{applicantDeadlineDate}"
                                       required pattern="[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])" min="2020-01-01">
                                <div th:if="${#fields.hasErrors('applicantDeadlineDate')}" class="text-danger">
                                    Bitte geben Sie eine gültige Bewerbungsfrist an.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-1 align-self-center">
                        <div class="row form-group">
                            <div>
                                <label for="orgaDeadlineDate">Bearbeitungsfrist</label>
                                <input type="text" name="orgaDeadlineDate" id="orgaDeadlineDate" onfocus="(this.type='date')"
                                       th:field="*{orgaDeadlineDate}" th:attr="value = *{orgaDeadlineDate}" onclick="minimumDate2()"
                                       onblur="(this.type='text')" class="form-control" th:placeholder="*{orgaDeadlineDate}"
                                       required pattern="[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])" min="2020-01-01">
                                <div th:if="${#fields.hasErrors('orgaDeadlineDate')}" class="text-danger">
                                    Bitte geben Sie eine gültige Bewerbungsfrist an.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body container-fluid">
                <div class="d-flex align-items-sm-center">
                    <div class="col-md-4 px-md-1 align-self-center">
                        <div class="row form-group">
                            <div>
                                <label for="applicantDeadlineTime">Bewerbungsfrist - Uhrzeit</label><br>
                                <input type="text" name="applicantDeadlineTime" id="applicantDeadlineTime" onfocus="(this.type='time')"
                                       th:field="*{applicantDeadlineTime}" th:attr="value = *{applicantDeadlineTime}"
                                       onblur="(this.type='text')" class="form-control" th:placeholder="*{applicantDeadlineTime}"
                                       required pattern="(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])">
                                <div th:if="${#fields.hasErrors('applicantDeadlineTime')}" class="text-danger">
                                    Bitte geben Sie eine gültige Zeit für die Bewerbungsfrist an.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-1 align-self-center">
                        <div class="row form-group">
                            <div>
                                <label for="orgaDeadlineTime">Bearbeitungsfrist - Uhrzeit</label><br>
                                <input type="text" name="orgaDeadlineTime" id="orgaDeadlineTime" onfocus="(this.type='time')"
                                       th:field="*{orgaDeadlineTime}" th:attr="value = *{orgaDeadlineTime}"
                                       onblur="(this.type='text')" class="form-control" th:placeholder="*{orgaDeadlineTime}"
                                       required pattern="(0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])">
                                <div th:if="${#fields.hasErrors('orgaDeadlineTime')}" class="text-danger">
                                    Bitte geben Sie eine gültige Zeit für die Bewerbungsfrist an.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body container-fluid">
                <div class="d-flex align-items-sm-center">
                    <div class="col-md-4 px-md-1 align-self-center">
                        <div class="row form-group">
                            <div>
                                <label for="sevenHourLimit">Personenanzahl 7 Std:</label><br>
                                <input type="number" name="sevenHourLimit" id="sevenHourLimit"
                                       th:value="*{sevenHourLimit}" th:placeholder="*{sevenHourLimit}"
                                       required min="0"
                                       th:field="*{sevenHourLimit}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-1 align-self-center">
                        <div class="row form-group">
                            <div>
                                <label for="nineHourLimit">Personenanzahl 9 Std:</label><br>
                                <input type="number" name="nineHourLimit" id="nineHourLimit"
                                       th:value="*{nineHourLimit}" th:placeholder="*{nineHourLimit}"
                                       required min="0"
                                       th:field="*{nineHourLimit}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-md-1 align-self-center">
                        <div class="row form-group">
                            <div>
                                <label for="seventeenHourLimit">Personenanzahl 17 Std:</label><br>
                                <input type="number" name="seventeenHourLimit" id="seventeenHourLimit"
                                       th:value="*{seventeenHourLimit}" th:placeholder="*{seventeenHourLimit}"
                                       required min="0"
                                       th:field="*{seventeenHourLimit}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div th:replace="${content} ? ${content}: ~{}"></div>
    <script>
        function minimumDate1() {
            const todaysDate = new Date();
            const year = todaysDate.getFullYear();
            const month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);
            const day = ("0" + todaysDate.getDate()).slice(-2);
            const minDate = (year + "-" + month + "-" + day);

            const deadlineDate = document.getElementById("applicantDeadlineDate");
            deadlineDate.setAttribute("min", minDate);
        }
        function minimumDate2() {
            const todaysDate = new Date();
            const year = todaysDate.getFullYear();
            const month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);
            const day = ("0" + todaysDate.getDate()).slice(-2);
            const minDate = (year + "-" + month + "-" + day);

            const deadlineDate = document.getElementById("orgaDeadlineDate");
            deadlineDate.setAttribute("min", minDate);
        }
    </script>
</main>
</body>
</html>
