<!doctype html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Erstellen der Module', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <th:block th:fragment="headcontent">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">

    </th:block>
    <title>Organize Applications</title>
</head>

<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a th:href="@{/}">
                    Startseite
                </a>
            </li>
            <li>
                <a th:href="@{./}">
                    Dashboard
                </a>
            </li>
        </ul>
    </nav>
</header>

<main th:fragment="bodycontent">
    <div class="card bg-light mb-3 border-primary">
        <div class="card-header d-flex justify-content-between align-items-start">
                <h2 style="margin-bottom: .0rem" class="card-text col">Neues Modul</h2>
        </div>
        <div class="card-body">
            <form th:action="@{neuesModul}" th:method="POST">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="col-3">
                        <input type="text" name="name" id="name"
                               class="form-control" placeholder="Name des Moduls">
                    </div>
                    <div class="col-1">
                        <input type="text" name="shortName" id="shortName"
                               class="form-control" placeholder="Abkürzung">
                    </div>
                    <div class="col-3">
                        <input type="text" name="prof" id="prof"
                               class="form-control" placeholder="Name des Professors">
                    </div>
                    <div class="col-sm-2">
                        <input type="number" name="hourLimit" id="hourLimit"
                               class="form-control" placeholder="Stundenlimit">
                    </div>
                    <div class="col-sm-2">
                        <input type="number" name="personLimit" id="personLimit"
                               class="form-control" placeholder="Tutorenlimit"><br>
                    </div>
                    <button class="btn btn-outline-primary btn-sm" th:type="submit">Speichern</button>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="${content} ? ${content}: ~{}"></div>
</main>

</body>
</html>