<!doctype html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Erstellen der Module', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <th:block th:fragment="headcontent">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

        <link href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
              th:href="@{node_modules/bootstrap/dist/css/bootstrap.min.css}">

    </th:block>
    <title>Organize Applications</title>
</head>

<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul th:if="${account.roles.size() > 1}">
            <li th:if="${account.roles.contains('verteiler')}"><a th:href="@{/bewerbung2/verteiler/}">Verteiler Übersicht</a></li>
            <li th:if="${account.roles.contains('orga')}"><a th:href="@{/bewerbung2/organisator/}">Organisator Übersicht</a></li>
            <li th:if="${account.roles.contains('setup')}"><a th:href="@{/bewerbung2/setup/}">Ersteller Übersicht</a></li>
            <li th:if="${account.roles.contains('studentin')}"><a th:href="@{/bewerbung2/bewerber/}">Bewerber Übersicht</a></li>
        </ul>
        <ul>
            <li><a th:href="@{/}">Startseite</a></li>
            <li><a th:href="@{neuesModul}">Neues Modul</a></li>
            <li><a th:href="@{loeschen}">Lösche Daten</a></li>
        </ul>
    </nav>
</header>

<main th:fragment="bodycontent">
    <div th:if="${modules.empty}">
        <div class="card bg-light mb-3 border-primary">
            <div class="card-header">
                <h3 style="margin-bottom: .0rem " class="card-title">Erstelle ein neues Modul</h3>
            </div>
            <div class="card-body">
                <div class="row container-fluid">
                    <div class="col-8">
                        <p class="card-text">Bisher sind noch keine Module vorhanden.
                            Es sollten bis zum Bewerbungsbeginn Module eingetragen werden. Mit dem Button können sie ein neues Modul erstellen.</p>
                    </div>
                    <div class="col-4">
                        <a class="btn btn-outline-primary float-right" th:href="@{neuesModul}">Neues Modul</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:each="module : ${modules}">
        <div class="card bg-light mb-3 border-primary" th:object="${module}">
            <div class="card-header container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <h3 style="margin-bottom: .0rem" class="card-title" th:text="*{name}"></h3>
                    </div>
                    <div class="col-md-4">
                        <form th:action="@{deleteModule}" th:method="POST" onsubmit="return confirm('Wollen Sie das Modul unwiederruflich löschen?');">
                            <input id="nameDelete" name="nameDelete" type="hidden" th:value="*{name}">
                            <button class="btn btn-outline-danger btn-sm float-right"
                                    style="margin-left: 10px" type="submit">Löschen</button>
                        </form>
                        <form th:action="@{modulBearbeiten}" th:method="POST">
                            <input id="name" name="name" type="hidden" th:value="*{name}">
                            <input id="shortName" name="shortName" type="hidden" th:value="*{shortName}">
                            <input id="profSerial" name="profSerial" type="hidden" th:value="*{profSerial}">
                            <input id="sevenHourLimit" name="sevenHourLimit" type="hidden" th:value="*{sevenHourLimit}">
                            <input id="nineHourLimit" name="nineHourLimit" type="hidden" th:value="*{nineHourLimit}">
                            <input id="seventeenHourLimit" name="seventeenHourLimit" type="hidden" th:value="*{seventeenHourLimit}">
                            <input id="deadlineDate" name="deadlineDate" type="hidden" th:value="*{deadlineDate}">
                            <input id="deadlineTime" name="deadlineTime" type="hidden" th:value="*{deadlineTime}">
                            <button class="btn btn-outline-primary btn-sm float-right" type="submit">Bearbeiten</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div th:text="'Kurzform: &ensp;' + *{shortName}"></div>
                        <span th:text="'Bewerbungsfrist: &ensp;' + *{deadlineDate}"></span><span th:text="'&ensp;' + *{deadlineTime}"></span>
                        <div th:text="'Zugeordnete Person (Unikennung): &ensp;' + *{profSerial}"></div>
                    </div>
                    <div class="col-6">
                        <div th:text="'Personenanzahl 7 Std: &ensp;' + *{sevenHourLimit}"></div>
                        <div th:text="'Personenanzahl 9 Std: &ensp;' + *{nineHourLimit}"></div>
                        <div th:text="'Personenanzahl 17 Std: ' + *{seventeenHourLimit}"></div>
                    </div>
                </div>
            </div>
        </div><br>
    </div>
    <div class="row">
        <div class="col">
        <form th:action="@{alleModuleLoeschen}" th:method="POST" onsubmit="return confirm('Wollen Sie wirklich alle Module löschen?');">
                <button class="btn btn-outline-danger btn-sm text-right" type="submit"
                        style="position: relative; left: 90%; right: 0; bottom: 10%;"> Alle Module Löschen </button>
            </form>
        </div>
    </div>
    <div th:replace="${content} ? ${content}: ~{}"></div>
</main>

</body>
</html>